:root {
  /*  Primary Colors  */
  --cyan: #2ab2af;
  --cyan-light: #4dd5d3;
  --bright-yellow: #c0df34;
  /*  Neutral Colors  */
  --light-gray: #e5eff5;
  --grayish-blue: #98a6bd;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--light-gray);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

a.no-decoration {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  padding: 20px;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 720px;
  margin: auto;
}

section.sign-up {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat 2, 1fr;
      grid-template-columns: repeat 2, 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  overflow: hidden;
  border-radius: 7px;
  -webkit-box-shadow: 5px 5px 50px var(--grayish-blue);
          box-shadow: 5px 5px 50px var(--grayish-blue);
}

section.sign-up .top {
  background: #fff;
  padding: 30px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.sign-up .top h1 {
  color: var(--cyan);
  margin-bottom: 32px;
}

section.sign-up .top h2 {
  color: var(--bright-yellow);
  margin-bottom: 16px;
}

section.sign-up .top p {
  color: var(--grayish-blue);
  line-height: 1.6;
}

section.sign-up .sign-up-cta {
  color: #fff;
  padding: 30px;
  background: var(--cyan);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.sign-up .sign-up-cta a {
  text-align: center;
  background: var(--bright-yellow);
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 20px var(--cyan);
          box-shadow: 10px 10px 20px var(--cyan);
}

section.sign-up .sign-up-cta a:hover {
  background: #b6d13d;
}

section.sign-up .sign-up-cta h4 {
  font-weight: 700;
}

section.sign-up .sign-up-cta p span {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 10px;
}

section.sign-up .sign-up-cta p.price-p-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--light-gray);
  font-size: .8rem;
}

section.sign-up .sign-up-cta p.price-a-day {
  color: var(--light-gray);
  font-size: .9rem;
}

section.sign-up .why-us {
  color: #fff;
  padding: 30px;
  background: var(--cyan-light);
}

section.sign-up .why-us h4 {
  margin-bottom: 16px;
}

section.sign-up .why-us ul {
  color: var(--light-gray);
  font-size: .9rem;
  line-height: 1.3;
}

@media screen and (max-width: 500px) {
  section.sign-up {
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    -ms-grid-rows: auto 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
  }
  section.sign-up .top {
    -ms-grid-column: auto;
        grid-column-start: auto;
    grid-column-end: auto;
  }
}
/*# sourceMappingURL=style.css.map */